<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel, JSDeprecatedSymbols -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/app.css">
    <script src="../controllers/controllerAuthentication.js"></script>
</head>
<body>
<section class="bg-white dark:bg-gray-900 ">
    <div class="container flex items-center justify-center min-h-screen px-6 mx-auto">
        <div class="w-full max-w-md my-5">
            <div class="flex justify-center">
                <h1 class="text-5xl font-bold tracking-tight sm:text-5xl md:text-5xl">
                    <span class="block lg:inline text-gray-400 dark:text-white">DP</span>
                    <span class="block text-sky-600 lg:inline -ml-2">iscine</span>
                </h1>
            </div>

            <div class="flex items-center justify-center mt-6">
                <a id="displayFormConnexion" href="#"
                   class="w-1/3 pb-4 font-medium text-center text-gray-800 capitalize border-b-2 border-blue-500 dark:text-gray-300">
                    Connexion
                </a>

                <a id="displayFormInscription" href="#"
                   class="w-1/3 pb-4 font-medium text-center text-gray-800 capitalize border-b-2 border-gray-400 dark:text-white">
                    Inscription
                </a>
            </div>
            <!-- FORM SIGNING -->
            <form id="formConnexion" method="POST" onsubmit="event.preventDefault(); verificationFormSignIn()"
                  class="w-full max-w-md ">
                <div class="relative flex items-center mt-3">
                <span class="absolute">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-3 text-gray-300 dark:text-gray-500"
                         fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/>
                    </svg>
                </span>
                    <input id="username" name="username" type="text"
                           class="block w-full py-3 text-gray-700 bg-white border rounded-md px-11 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40"
                           placeholder="Pseudo">
                </div>
                <span id="invalidUsername" style="color:red"></span>
                <div class="relative flex items-center mt-4">
                <span class="absolute">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-3 text-gray-300 dark:text-gray-500"
                         fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"/>
                    </svg>
                </span>
                    <input id="password" name="password" type="password"
                           class="block w-full px-10 py-3 text-gray-700 bg-white border rounded-md dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40"
                           placeholder="Mot de passe">
                </div>
                <span id="invalidPassword" style="color:red"></span>
                <div class="mt-6">
                    <button class="w-full px-6 py-3 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-500 rounded-md hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50">
                        Connexion
                    </button>
                </div>
            </form>
            <!-- END FORM SIGNING -->
            <!-- FORM SIGNUP -->
            <form id="formInscription" action="users/add" method="POST" onsubmit="return verificationFormSignUp()"
                  class="w-full max-w-md hidden">
                <div class="relative flex items-center mt-3">
                <span class="absolute">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                       stroke="currentColor" class="w-6 h-6 mx-3 text-gray-300 dark:text-gray-500">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z"/>
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6z"/>
                  </svg>
                </span>
                    <input id="name" name="name" type="text"
                           class="block w-full py-3 text-gray-700 bg-white border rounded-md px-11 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40"
                           placeholder="Nom">
                </div>
                <span id="invalidName" style="color:red"></span>
                <div class="relative flex items-center mt-3">
                <span class="absolute">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                       stroke="currentColor" class="w-6 h-6 mx-3 text-gray-300 dark:text-gray-500">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z"/>
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6z"/>
                  </svg>
                </span>
                    <input id="firstName" name="firstName" type="text"
                           class="block w-full py-3 text-gray-700 bg-white border rounded-md px-11 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40"
                           placeholder="Prénom">
                </div>
                <span id="invalidFirstName" style="color:red"></span>

                <div class="relative flex items-center mt-3">
                <span class="absolute">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-3 text-gray-300 dark:text-gray-500"
                         fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/>
                    </svg>
                </span>

                    <input id="usernameSignUp" name="usernameSignUp" type="text"
                           class="block w-full py-3 text-gray-700 bg-white border rounded-md px-11 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40"
                           placeholder="Pseudo">
                </div>

                <span id="invalidUsernameSignUp" style="color:red"></span>

                <div class="relative flex items-center mt-8">
                <span class="absolute">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-3 text-gray-300 dark:text-gray-500"
                         fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"/>
                    </svg>
                </span>

                    <input id="passwordSignUp" name="passwordSignUp" type="password"
                           class="block w-full px-10 py-3 text-gray-700 bg-white border rounded-md dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40"
                           placeholder="Mot de passe">
                </div>

                <div class="relative flex items-center mt-4">
                <span class="absolute">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-3 text-gray-300 dark:text-gray-500"
                         fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"/>
                    </svg>
                </span>

                    <input id="passwordConfirmSignUp" name="passwordConfirmSignUp" type="password"
                           class="block w-full px-10 py-3 text-gray-700 bg-white border rounded-md dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40"
                           placeholder="Confirmer mot de passe">
                </div>
                <span id="invalidPasswordSignUp" style="color:red"></span>

                <div class="mt-6">
                    <button class="w-full px-6 py-3 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-500 rounded-md hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50">
                        S'enregistrer
                    </button>
                </div>
            </form>
            <!-- END FORM SIGNUP -->
        </div>
    </div>
</section>
</body>
<!-- TODO faut réussir à mettre tout ça dans controllerAuthentification, surement en utilisant le .htacces -->
<script>
    window.addEventListener("load", function () {
        let displayFormConnexion = document.getElementById("displayFormConnexion");
        let displayFormInscription = document.getElementById("displayFormInscription");
        let formConnexion = document.getElementById("formConnexion");
        let formInscription = document.getElementById("formInscription");

        displayFormConnexion.addEventListener("click", function () {
            if (displayFormConnexion.classList.contains('border-gray-400')) {
                displayFormConnexion.classList.remove('border-gray-400');
                displayFormConnexion.classList.add('border-blue-500');
                displayFormInscription.classList.remove('border-blue-500');
                displayFormInscription.classList.add('border-gray-400');
                formConnexion.classList.remove('hidden');
                formInscription.classList.add('hidden');
            }
        });

        displayFormInscription.addEventListener("click", function () {
            if (displayFormInscription.classList.contains('border-gray-400')) {
                displayFormInscription.classList.remove('border-gray-400');
                displayFormInscription.classList.add('border-blue-500');
                displayFormConnexion.classList.remove('border-blue-500');
                displayFormConnexion.classList.add('border-gray-400');
                formInscription.classList.remove('hidden');
                formConnexion.classList.add('hidden');
            }
        });
    });

    function verificationFormSignIn() {
        let passwordToCheck = document.getElementById("password")
        let usernameToCheck = document.getElementById("username")
        let invalidPassword = document.getElementById("invalidPassword")
        let invalidUsername = document.getElementById("invalidUsername")
        let usernameToCheckEmpty = usernameToCheck.value.length === 0
        let passwordToCheckEmpty = passwordToCheck.value.length === 0
        invalidPassword.innerHTML = passwordToCheckEmpty ? "Veuillez renseigner votre mot de passe !" : "";
        invalidUsername.innerHTML = usernameToCheckEmpty ? "Veuillez renseigner votre pseudo !" : "";
        if (!usernameToCheckEmpty && !passwordToCheckEmpty) {
            let usernameValue = usernameToCheck.value
            let passwordValue = passwordToCheck.value
            let data = {username: usernameValue, password: passwordValue}
            fetch("/login",
                {
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify(data)
                })
                .then(response => {
                    if (response.status !== 200) {
                        return response.json()
                    } else {
                        window.location = "/"
                        localStorage.setItem("username", document.getElementById("username").value)
                    }
                }).then(data => {
                if (data.error === "username") {
                    invalidUsername.innerHTML = "Utilisateur inexistant !";
                }
                if (data.error === "password") {
                    invalidPassword.innerHTML = "Mauvais mot de passe !";
                }
            })
            return true;
        }
    }

    function verificationFormSignUp() {
        let passwordToCheckSignUp = document.getElementById("passwordSignUp")
        let passwordToCheckConfirm = document.getElementById("passwordConfirmSignUp")
        let usernameToCheckSignUp = document.getElementById("usernameSignUp")
        let firstName = document.getElementById("firstName")
        let name = document.getElementById("name")
        let invalidPasswordSignUp = document.getElementById("invalidPasswordSignUp")
        let invalidUsernameSignUp = document.getElementById("invalidUsernameSignUp")
        let invalidName = document.getElementById("invalidName")
        let invalidFirstName = document.getElementById("invalidFirstName")
        if (passwordToCheckSignUp.value === passwordToCheckConfirm.value && passwordToCheckSignUp.value.length !== 0 && passwordToCheckConfirm.value.length !== 0 && usernameToCheckSignUp.value.length !== 0 && name.value.length !== 0 && firstName.value.length !== 0) {
            return true
        }
        invalidPasswordSignUp.innerHTML =
            passwordToCheckSignUp.value.length === 0 || passwordToCheckConfirm.value.length === 0 ?
                "Veuillez remplir les deux champ !" :
                passwordToCheckSignUp.value !== passwordToCheckConfirm.value ?
                    "Les mots de passe sont différents !" : "";
        invalidUsernameSignUp.innerHTML =
            usernameToCheckSignUp.value.length === 0 ?
                "Le champ pseudo est obligatoire !" : "";
        invalidName.innerHTML =
            name.value.length === 0 ?
                "Le champ nom est obligatoire !" : "";
        invalidFirstName.innerHTML =
            firstName.value.length === 0 ?
                "Le champ prénom est obligatoire !" : "";
        return false
        // TODO Ajouter la partie post pour vérifier que l'utilisateur n'existe pas déjà
    }
</script>
</html>
