
<div class="isolate flex flex-auto overflow-hidden bg-white rounded-b-xl">
    <div class="flex flex-auto flex-col overflow-auto">
        <div class="flex w-full flex-auto">
            <div class="w-14 flex-none bg-white ring-1 ring-gray-100"></div>
            <div class="grid flex-auto grid-cols-1 grid-rows-1">
                <!-- Horizontal lines -->
                <div class="col-start-1 col-end-2 row-start-1 grid divide-y divide-gray-100"
                     style="grid-template-rows: repeat(48, minmax(3.5rem, 1fr))">
                    <div class="row-end-1 h-7"></div>
                    <div>
                        <div class="-mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">0:00H</div>
                    </div>
                    <div></div>
                    <div>
                        <div class="-mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">1:00H</div>
                    </div>
                    <div></div>
                    <div>
                        <div class="-mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">2:00H</div>
                    </div>
                    <div></div>
                    <div>
                        <div class="-mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">3:00H</div>
                    </div>
                    <div></div>
                    <div>
                        <div class="-mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">4:00H</div>
                    </div>
                    <div></div>
                    <div>
                        <div class="-mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">5:00H</div>
                    </div>
                    <div></div>
                    <div>
                        <div class="-mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">6:00H</div>
                    </div>
                    <div></div>
                    <div>
                        <div class="-mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">7:00H</div>
                    </div>
                    <div></div>
                    <div>
                        <div class="-mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">8:00H</div>
                    </div>
                    <div></div>
                    <div>
                        <div class="-mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">9:00H</div>
                    </div>
                    <div></div>
                    <div>
                        <div class="-mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">10:00H</div>
                    </div>
                    <div></div>
                    <div>
                        <div class="-mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">11:00H</div>
                    </div>
                    <div></div>
                    <div>
                        <div class="-mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">12:00H</div>
                    </div>
                    <div></div>
                    <div>
                        <div class="-mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">13:00H</div>
                    </div>
                    <div></div>
                    <div>
                        <div class="-mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">14:00H</div>
                    </div>
                    <div></div>
                    <div>
                        <div class="-mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">15:00H</div>
                    </div>
                    <div></div>
                    <div>
                        <div class="-mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">16:00H</div>
                    </div>
                    <div></div>
                    <div>
                        <div class="-mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">17:00H</div>
                    </div>
                    <div></div>
                    <div>
                        <div class="-mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">18:00H</div>
                    </div>
                    <div></div>
                    <div>
                        <div class="-mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">19:00H</div>
                    </div>
                    <div></div>
                    <div>
                        <div class="-mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">20:00H</div>
                    </div>
                    <div></div>
                    <div>
                        <div class="-mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">21:00H</div>
                    </div>
                    <div></div>
                    <div>
                        <div class="-mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">22:00H</div>
                    </div>
                    <div></div>
                    <div>
                        <div class="-mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">23:00H</div>
                    </div>
                    <div></div>
                </div>

                <!-- Events -->
                <ol class="col-start-1 col-end-2 row-start-1 grid grid-cols-1"
                    style="grid-template-rows: 1.75rem repeat(288, minmax(0, 1fr)) auto">
                    <li onclick="displayEvent(1)" class="relative mt-px flex" style="grid-row: 200 / span 12">
                        <a class="cursor-pointer group absolute inset-1 flex flex-col overflow-y-auto rounded-lg bg-blue-50 p-2 text-xs leading-5 hover:bg-blue-100">
                            <p class="order-1 font-semibold text-blue-700">Petit Dej</p>
                            <p class="text-blue-500 group-hover:text-blue-700">
                                <time datetime="2022-01-22T06:00">6:00H</time>
                            </p>
                        </a>
                    </li>
                    <li class="relative mt-px flex" style="grid-row: 92 / span 30">
                        <a href="#"
                           class="group absolute inset-1 flex flex-col overflow-y-auto rounded-lg bg-pink-50 p-2 text-xs leading-5 hover:bg-pink-100">
                            <p class="order-1 font-semibold text-pink-700">Flight to Paris</p>
                            <p class="order-1 text-pink-500 group-hover:text-pink-700">John F. Kennedy International
                                Airport</p>
                            <p class="text-pink-500 group-hover:text-pink-700">
                                <time datetime="2022-01-22T07:30">7:30 AM</time>
                            </p>
                        </a>
                    </li>
                    <li class="relative mt-px flex" style="grid-row: 134 / span 18">
                        <a href="#"
                           class="group absolute inset-1 flex flex-col overflow-y-auto rounded-lg bg-indigo-50 p-2 text-xs leading-5 hover:bg-indigo-100">
                            <p class="order-1 font-semibold text-indigo-700">Sightseeing</p>
                            <p class="order-1 text-indigo-500 group-hover:text-indigo-700">Eiffel Tower</p>
                            <p class="text-indigo-500 group-hover:text-indigo-700">
                                <time datetime="2022-01-22T11:00">11:00 AM</time>
                            </p>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>