<!-- noinspection SpellCheckingInspection -->
<!--suppress SpellCheckingInspection -->
<div class="shadow ring-1 ring-black ring-opacity-5 lg:flex lg:flex-auto lg:flex-col rounded-b-xl">
    <div class="grid grid-cols-7 gap-px border-b border-gray-300 bg-gray-200 text-center dark:bg-gray-500 dark:border-gray-500 text-xs font-semibold leading-6 text-gray-700 dark:text-white lg:flex-none rounded-b-xl">
        <div class="flex justify-center bg-white dark:bg-gray-900 py-2">
            <span>L</span>
            <span class="sr-only sm:not-sr-only">undi</span>
        </div>
        <div class="flex justify-center bg-white dark:bg-gray-900 py-2">
            <span>M</span>
            <span class="sr-only sm:not-sr-only">ardi</span>
        </div>
        <div class="flex justify-center bg-white dark:bg-gray-900 py-2">
            <span>M</span>
            <span class="sr-only sm:not-sr-only">ercredi</span>
        </div>
        <div class="flex justify-center bg-white dark:bg-gray-900 py-2">
            <span>J</span>
            <span class="sr-only sm:not-sr-only">eudi</span>
        </div>
        <div class="flex justify-center bg-white dark:bg-gray-900 py-2">
            <span>V</span>
            <span class="sr-only sm:not-sr-only">endredi</span>
        </div>
        <div class="flex justify-center bg-white dark:bg-gray-900 py-2">
            <span>S</span>
            <span class="sr-only sm:not-sr-only">amedi</span>
        </div>
        <div class="flex justify-center bg-white dark:bg-gray-900 py-2">
            <span>D</span>
            <span class="sr-only sm:not-sr-only">imanche</span>
        </div>
    </div>
    <div class="flex bg-gray-200 text-xs leading-6 text-gray-700 dark:text-white dark:bg-gray-500 lg:flex-auto rounded-b-xl">
        <div class="w-full lg:grid lg:grid-cols-7 lg:grid-rows-6 lg:gap-px rounded-b-xl">
            <div id="box0"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box1"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box2"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box3"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box4"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box5"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box6"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box7"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box8"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box9"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box10"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box11"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box12"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box13"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box14"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box15"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box16"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box17"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box18"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box19"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box20"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box21"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box22"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box23"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box24"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box25"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box26"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box27"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box28"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box29"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box30"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box31"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box32"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box33"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box34"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box35"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar rounded-bl-xl">
                <time datetime=""></time>
            </div>
            <div id="box36"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box37"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box38"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box39"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box40"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar">
                <time datetime=""></time>
            </div>
            <div id="box41"
                 class="relative bg-white dark:bg-gray-900 py-2 px-3 overflow-auto max-h-24 h-24 whiteScrollbar2 dark:darkScrollbar rounded-br-xl">
                <time datetime=""></time>
            </div>
        </div>
    </div>
</div>