<!-- noinspection SpellCheckingInspection -->
<div class="shadow ring-1 ring-black ring-opacity-5 lg:flex lg:flex-auto lg:flex-col rounded-b-xl">
    <div class="grid grid-cols-7 gap-px border-b border-gray-300 bg-gray-200 text-center text-xs font-semibold leading-6 text-gray-700 lg:flex-none rounded-b-xl">
        <div class="flex justify-center bg-white py-2">
            <span>L</span>
            <span class="sr-only sm:not-sr-only">undi</span>
        </div>
        <div class="flex justify-center bg-white py-2">
            <span>M</span>
            <span class="sr-only sm:not-sr-only">ardi</span>
        </div>
        <div class="flex justify-center bg-white py-2">
            <span>M</span>
            <span class="sr-only sm:not-sr-only">ercredi</span>
        </div>
        <div class="flex justify-center bg-white py-2">
            <span>J</span>
            <span class="sr-only sm:not-sr-only">eudi</span>
        </div>
        <div class="flex justify-center bg-white py-2">
            <span>V</span>
            <span class="sr-only sm:not-sr-only">endredi</span>
        </div>
        <div class="flex justify-center bg-white py-2">
            <span>S</span>
            <span class="sr-only sm:not-sr-only">amedi</span>
        </div>
        <div class="flex justify-center bg-white py-2">
            <span>D</span>
            <span class="sr-only sm:not-sr-only">imanche</span>
        </div>
    </div>
    <div class="flex bg-gray-200 text-xs leading-6 text-gray-700 lg:flex-auto rounded-b-xl">
        <div class="w-full lg:grid lg:grid-cols-7 lg:grid-rows-6 lg:gap-px rounded-b-xl">
            <div id="box0" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">0</time>
            </div>
            <div id="box1" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">1</time>
            </div>
            <div id="box2" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">2</time>
            </div>
            <div id="box3" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">3</time>
            </div>
            <div id="box4" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">4</time>
            </div>
            <div id="box5" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">5</time>
            </div>
            <div id="box6" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">6</time>
            </div>
            <div id="box7" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">7</time>
            </div>
            <div id="box8" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">8</time>
            </div>
            <div id="box9" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">9</time>
            </div>
            <div id="box10" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">10</time>
            </div>
            <div id="box11" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">11</time>
            </div>
            <div id="box12" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">12</time>
            </div>
            <div id="box13" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">13</time>
            </div>
            <div id="box14" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">14</time>
            </div>
            <div id="box15" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">15</time>
            </div>
            <div id="box16" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">16</time>
            </div>
            <div id="box17" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">17</time>
            </div>
            <div id="box18" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">18</time>
            </div>
            <div id="box19" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">19</time>
            </div>
            <div id="box20" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">20</time>
            </div>
            <div id="box21" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">21</time>
            </div>
            <div id="box22" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">22</time>
            </div>
            <div id="box23" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">23</time>
            </div>
            <div id="box24" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">24</time>
            </div>
            <div id="box25" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">25</time>
            </div>
            <div id="box26" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">26</time>
            </div>
            <div id="box27" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">27</time>
            </div>
            <div id="box28" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">28</time>
            </div>
            <div id="box29" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">29</time>
            </div>
            <div id="box30" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">30</time>
            </div>
            <div id="box31" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">31</time>
            </div>
            <div id="box32" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">32</time>
            </div>
            <div id="box33" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">33</time>
            </div>
            <div id="box34" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">34</time>
            </div>
            <div id="box35" class="relative bg-white py-2 px-3 overflow-y-scroll h-24 rounded-bl-xl">
                <time datetime="">35</time>
            </div>
            <div id="box36" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">36</time>
            </div>
            <div id="box37" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">37</time>
            </div>
            <div id="box38" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">38</time>
            </div>
            <div id="box39" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">39</time>
            </div>
            <div id="box40" class="relative bg-white py-2 px-3 overflow-y-scroll h-24">
                <time datetime="">40</time>
            </div>
            <div id="box41" class="relative bg-white py-2 px-3 overflow-y-scroll h-24 rounded-br-xl">
                <time datetime="">41</time>
            </div>
        </div>
    </div>
</div>