<div class="isolate flex flex-auto flex-col overflow-auto bg-white dark:bg-gray-900 rounded-b-xl">
    <div style="width: 165%" class="flex max-w-full flex-none flex-col sm:max-w-none md:max-w-full">
        <div class="sticky top-0 z-30 flex-none bg-white dark:bg-gray-900 shadow ring-1 ring-black dark:ring-gray-300 ring-opacity-5 sm:pr-8">
            <div class="-mr-px hidden grid-cols-7 divide-x divide-gray-100 border-r dark:border-gray-500 dark:divide-gray-500 border-gray-100 text-sm leading-6 text-gray-500 dark:text-white sm:grid">
                <div class="col-end-1 w-14"></div>
                <div class="flex items-center justify-center py-3">
                    <span>Lundi <span id="day1"
                                      class="items-center justify-center font-semibold dark:text-white text-gray-900"></span></span>
                </div>
                <div class="flex items-center justify-center py-3">
                    <span>Mardi <span id="day2"
                                      class="items-center justify-center font-semibold dark:text-white text-gray-900"></span></span>
                </div>
                <div class="flex items-center justify-center py-3">
                    <span>Mercredi <span id="day3"
                                         class="items-center justify-center dark:text-white font-semibold text-gray-900"></span></span>
                </div>
                <div class="flex items-center justify-center py-3">
                    <span>Jeudi <span id="day4"
                                      class="items-center justify-center dark:text-white font-semibold text-gray-900"></span></span>
                </div>
                <div class="flex items-center justify-center py-3">
                    <span>Vendredi <span
                            id="day5"
                            class="items-center justify-center dark:text-white font-semibold text-gray-900"></span></span>
                </div>
                <div class="flex items-center justify-center py-3">
                    <span>Samedi <span id="day6"
                                       class="items-center justify-center dark:text-white font-semibold text-gray-900"></span></span>
                </div>
                <div class="flex items-center justify-center py-3">
                    <span>Dimanche <span
                            id="day7"
                            class="items-center justify-center dark:text-white font-semibold text-gray-900"></span></span>
                </div>
            </div>
        </div>
        <div class="flex flex-auto">
            <div class="sticky left-0 z-10 w-14 flex-none bg-white dark:bg-gray-900 ring-1 ring-gray-100 dark:ring-gray-500"></div>
            <div class="grid flex-auto grid-cols-1 grid-rows-1">
                <!-- Horizontal lines -->
                <div class="col-start-1 col-end-2 row-start-1 grid divide-y divide-gray-100 dark:divide-gray-500"
                     style="grid-template-rows: repeat(48, minmax(3.5rem, 1fr))">
                    <div class="row-end-1 h-7"></div>
                    <div>
                        <div class="sticky left-0 z-20 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400 dark:text-white">
                            0:00H
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <div class="sticky left-0 z-20 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400 dark:text-white">
                            1:00H
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <div class="sticky left-0 z-20 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400 dark:text-white">
                            2:00H
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <div class="sticky left-0 z-20 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400 dark:text-white">
                            3:00H
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <div class="sticky left-0 z-20 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400 dark:text-white">
                            4:00H
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <div class="sticky left-0 z-20 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400 dark:text-white">
                            5:00H
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <div class="sticky left-0 z-20 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400 dark:text-white">
                            6:00H
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <div class="sticky left-0 z-20 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400 dark:text-white">
                            7:00H
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <div class="sticky left-0 z-20 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400 dark:text-white">
                            8:00H
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <div class="sticky left-0 z-20 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400 dark:text-white">
                            9:00H
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <div class="sticky left-0 z-20 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400 dark:text-white">
                            10:00H
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <div class="sticky left-0 z-20 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400 dark:text-white">
                            11:00H
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <div class="sticky left-0 z-20 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400 dark:text-white">
                            12:00H
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <div class="sticky left-0 z-20 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400 dark:text-white">
                            13:00H
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <div class="sticky left-0 z-20 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400 dark:text-white">
                            14:00H
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <div class="sticky left-0 z-20 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400 dark:text-white">
                            15:00H
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <div class="sticky left-0 z-20 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400 dark:text-white">
                            16:00H
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <div class="sticky left-0 z-20 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400 dark:text-white">
                            17:00H
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <div class="sticky left-0 z-20 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400 dark:text-white">
                            18:00H
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <div class="sticky left-0 z-20 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400 dark:text-white">
                            19:00H
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <div class="sticky left-0 z-20 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400 dark:text-white">
                            20:00H
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <div class="sticky left-0 z-20 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400 dark:text-white">
                            21:00H
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <div class="sticky left-0 z-20 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400 dark:text-white">
                            22:00H
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <div class="sticky left-0 z-20 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400 dark:text-white">
                            23:00H
                        </div>
                    </div>
                    <div></div>
                </div>

                <!-- Vertical lines -->
                <div class="col-start-1 col-end-2 row-start-1 hidden grid-cols-7 grid-rows-1 divide-x divide-gray-100 dark:divide-gray-500 sm:grid sm:grid-cols-7">
                    <div class="col-start-1 row-span-full"></div>
                    <div class="col-start-2 row-span-full"></div>
                    <div class="col-start-3 row-span-full"></div>
                    <div class="col-start-4 row-span-full"></div>
                    <div class="col-start-5 row-span-full"></div>
                    <div class="col-start-6 row-span-full"></div>
                    <div class="col-start-7 row-span-full"></div>
                    <div class="col-start-8 row-span-full w-8"></div>
                </div>

                <!-- Events -->
                <ol id="events" class="col-start-1 col-end-2 row-start-1 grid grid-cols-1 sm:grid-cols-7 sm:pr-8"
                    style="grid-template-rows: 1.75rem repeat(288, minmax(0, 1fr)) auto">
                    <li class="relative mt-px flex sm:col-start-1" style="grid-row: 0 / span 0">
                    </li>
                    <li class="relative mt-px flex sm:col-start-2" style="grid-row: 0 / span 0">
                    </li>
                    <li class="relative mt-px flex sm:col-start-3" style="grid-row: 0 / span 0">
                    </li>
                    <li class="relative mt-px flex sm:col-start-4 sm:flex" style="grid-row: 0 / span 0">
                    </li>
                    <li class="relative mt-px flex sm:col-start-5 sm:flex" style="grid-row: 0 / span 0">
                    </li>
                    <li class="relative mt-px flex sm:col-start-6 sm:flex" style="grid-row: 0 / span 0">
                    </li>
                    <li class="relative mt-px flex sm:col-start-7 sm:flex" style="grid-row: 0 / span 0">
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>